*.bak
*.code-workspace
*.iml
*.ipr
*.iws
*.launch
*.swp
*.tmp
*~
*~.nib
.DS_Store
._*
.classpath/
.directory
.fuse_hidden*
.gradle/
.idea/
.metadata/
.project/
.settings/
.vscode/*
Thumbs.db
Thumbs.db:encryptable
bin/
build/
eclipse/
out/
run/
tmp/
