# Eclipse
/bin/
/*.launch
/.settings/
/.metadata/
/.classpath
/.project

# IDEA
/out/
/*.ipr
/*.iws
/*.iml
/.idea/

# vscode
/.vscode/

# Gradle
/build/
/.gradle/
/gradle/
/gradlew
/gradlew.bat

# Other
/eclipse/
/run/
